# SSL config
HTTPS=true

# Server Configuration
SERVER_URL=http://localhost
SERVER_PORT=5443

# Client Configuration
FRONT_URL=https://localhost
FRONT_PORT=3000

# SSL Key and Certificate
SSL_KEY_FILE=./cert/key.pem
SSL_CRT_FILE=./cert/cert.pem

# JWT Configuration
JWT_SECRET=your_jwt_secret

# Node Environment
NODE_ENV=development
